<%= render 'shared/title', title: "Log In" %>

<div class='well'>
  <%= form_tag '/login' do %>
    <div class='form-horizontal'>
      <div class='form-group'>
        <%= label_tag :email, nil, class: "col-md-1 control-label" %>
        <div class = 'col-md-5'>
          <%= text_field_tag :email, params[:email] || '', class: 'form-control' %>
        </div>
      </div>
      <div class='form-group'>
        <%= label_tag :password, nil, class: "col-md-1 control-label" %>
        <div class = 'col-md-5'>
          <%= password_field_tag :password, params[:password] || '', class: 'form-control' %>
        </div>
      </div>
      <div class='form-group'>
        <div class = 'col-md-offset-1 col-md-5'>
          <%= submit_tag 'Login', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
