<div class='well'>
  <%= form_for [@user, @wod] do |f| %>
    <%= render 'shared/errors', object: @wod %>
    <div class='form-horizontal'>
      <div class='form-group'>
        <div class = 'col-md-5'>
          <%= f.text_area :workout, rows: 10, cols: 6, class: 'form-control' %>
        </div>
      </div>
      <div class='form-group'>
        <div class = 'col-md-5'>
          <%= f.label "Categories:" %>
          <%= f.collection_check_boxes :category_ids, current_user.categories.all, :id, :name do |cb| %>
            <% cb.label(class: "checkbox col-md-offset-1") {cb.check_box(class: "checkbox") + cb.text} %>
          <% end %>
        </div>
      </div>
      <div class='form-group'>
        <div class = 'col-md-5'>
          <%= f.submit "Submit your WOD", class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
